{{define "title"}}Update an User{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<div class="container">
	<div class="page-header">
		<h1 align="right">עדכון פרטי משתמש</h1>
	</div>
	<form method="post">
		<div class="form-group">
			<label for="first_name">מספר זהות</label>
			<div><input type="text" class="form-control" id="idnumber" name="idnumber" maxlength="9" placeholder="ID Number" value="{{.idnumber}}" required/></div>
		</div>
		<div class="form-group">
			<label for="email">דואר אלקטרוני</label>
			<div><input type="email" class="form-control" id="email" name="email" maxlength="48" placeholder="Email" value="{{.email}}" required/></div>
		</div>
		<input type="submit" value="עדכון פרטים" class="btn btn-outline-primary" />
		<input type="hidden" name="token" value="{{.token}}">
        <button type="button" class="btn btn-outline-primary" onclick="history.back()"><i class="glyphicon glyphicon-share-alt"></i> חזרה</button>
	</form>
</div>

{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}