{{define "title"}}Forget Password{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<div class="container">
	<div class="page-header">
		<h1 align="right">שכחתי סיסמא</h1>
	</div>
	<form method="post">
		<div class="form-group">
			<label for="email" >דואר אלקטרוני</label>
            <div><input type="email" class="form-control" id="email" name="email" maxlength="48" placeholder="דואר אלקטרוני" value="{{.email}}" required/></div>
		</div>

		<input type="submit" class="btn btn-outline-primary" value="אישור" class="button" />

		<input type="hidden" name="token" value="{{.token}}">
	</form>

	{{template "footer" .}}
</div>

{{end}}
{{define "foot"}}{{end}}