{{define "title"}}Update an User{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<div class="container">
    <h1 align="right">{{.project.ProjectName}}</h1>
    <br>
        <p dir="rtl"><b>מנחה: </b><span class="glyphicon glyphicon-user"></span>{{.supervisors.FirstName}} {{.supervisors.LastName}}</p>
        {{if .project_students}}
        <p dir="rtl"><b>סטודנטים: </b><span class="fa fa-users"></span>
        {{(index .project_students 0).FirstName}} {{(index .project_students 0).LastName}}
        ו{{(index .project_students 1).FirstName}} {{(index .project_students 1).LastName}}
        </p>
        {{end}}
        <p dir="rtl"><b>סטטוס פרויקט:</b>
            {{if eq .project.StatusId 1}}
            זמין
            {{else if eq .project.StatusId 2}}
            ממתין לאישור מנחה
            {{else if eq .project.StatusId 3}}
            ממתין לאישור מנהל פרויקטים
            {{end}}
        </p>
        <p dir="rtl"><b>תיאור קצר:</b></p>
        <p dir="rtl">{{.project.ShortDescription}}</p>
        <p dir="rtl"><b>תיאור הפרויקט:</b></p>
        <p dir="rtl">{{.project.Description}}</p>
        <br>
        {{if .approvalform}}
        <h3 align="right">:טופס הצעת פרויקט</h3>
        <p dir="rtl"><b>תקציר:</b></p>
        <p dir="rtl">{{.approvalform.Synopses}}</p>
        <p dir="rtl"><b>היקף הפרויקט:</b></p>
        <p dir="rtl">{{.approvalform.ScopeOfTheProject}}</p>
        <p dir="rtl"><b>תכונות ייחודיות:</b></p>
        <p dir="rtl">{{.approvalform.UniqueFeatures}}</p>
        <br>
        {{end}}
        <form method="post">
        <div class="row">
            <div class="col-sm-7"></div>
	        <div class="col-sm-5">
	        {{if .comments }}
	        <p dir="rtl"><b>הערות:</b></p>
	        {{ range $comment := .comments }}
            <p dir="rtl">{{$comment }}</p>
            {{ end }}
            <br>
            {{end}}
            <p dir="rtl"><b>נוצר ב: </b></span> {{.createdat}}</p>
            <p dir="rtl"><b>עודכן ב: </b></span> {{.updatedat}}</p>
            <br>
            <p dir="rtl"><b>הערה חדשה:</b></p>
            <textarea dir="rtl" maxlength="255" class="form-control text-right" rows="4" id="comment" name="comment" required></textarea>
	        </div>
	    </div>
	    <br>
        <button type="submit" class="btn btn-outline-primary"><i class="glyphicon glyphicon-pencil"></i> הוסף הערה</button>
        <input type="hidden" name="token" value="{{.token}}">
        <button type="button" class="btn btn-outline-primary" onclick="history.back()"><i class="glyphicon glyphicon-share-alt"></i> חזרה</button>
        </form>
{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}