{{define "title"}}Go Web App{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="main" style="padding-right=16px" align="right">
  <br>
  <h2>!ברוכים הבאים</h2>
  <p>ברוכים הבאים לאתר ניהול פרויקטים. מטרת האתר היא לעזור לסטודנטים הנמצאים בשנה רביעית לבחור פרויקט לפרויקט גמר וליצור ערוץ תקשורת בין הסטודנטים למנחים.
בנוסף, באתר זה ניתן לראות פרויקטים שבוצעו בשנים הקודמות לקבל השראה</p>
</div>
{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}