{{define "title"}}קבצי הנחיות{{end}}
{{define "head"}}{{end}}
{{define "content"}}

 <div class="container">
    <div class="page-header">
    	<h1 align="right">קבצי הנחיות</h1>
    	</div>
    			<div>
    			<h3 align="right">
    			:חלק א
    			</h3>
    			</div>
    			<div align="right">
    			<a href="/static/guidline/הנחיות הגשה.pdf" target="_blank" type="application/pdf"> הנחיות הגשה</a>
    			</div>
    			<div align="right">
    			<a href="/static/guidline/הנחיות להתנעת פרויקט גמר.pdf" target="_blank" type="application/pdf"> הנחיות להתנעת פרויקט גמר</a>
    			</div>
                <div align="right">
                <a href="/static/guidline/הרשמה לפרויקט.docx" target="_blank" type="application/pdf"> הרשמה לפרויקט</a>
                </div>
    			<div align="right">
    			<a href="/static/guidline/לוגו בראודה.docx" target="_blank" type="application/pdf"> לוגו בראודה</a>
    			</div>
    			<div align="right">
    			<a href="/static/guidline/שימוש בכלי פיתוח.pdf" target="_blank" type="application/pdf"> שימוש בכלי פיתוח</a>
    			</div>
                <div align="right">
                <a href="/static/guidline/תוצרי הפרויקט.pdf" target="_blank" type="application/pdf"> תוצרי הפרויקט</a>
                </div>
    			<div align="right">
                <h3>:חלק ב</h3>
    			</div>
                <div align="right">
                <a href="/static/guidline/תוצרי הפרויקט2.pdf" target="_blank" type="application/pdf"> תוצרי הפרויקט</a>
                </div>
    			<div align="right">
    			<a href="/static/guidline/הנחיות הגשה2.pdf" target="_blank" type="application/pdf"> הנחיות הגשה</a>
    			</div>
    		</div>
 </div>
{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}